core/assets/*
docs/*
.idea/*
nbproject/*
core/config/config.php
!/core/assets/composer.json
!/core/assets/bower.json
!/core/assets/.bowerrc
!/core/assets/Template
!/core/assets/tpl
!/core/assets/nusoap
!/core/assets/custom
tmp/*
files/*
core/logs/*
.vscode/*
.remote-sync.json
.DS_Store